In [165]:
#Question:
#How does your major, college, college type and region affect your graduation salary, and your mid-career salary?

In [166]:
import numpy as np
import pandas as pd

In [167]:
#changed path to this because this is what is need to run it off of github
#you can uncomment ur path when you are running this code on ur machine

# path = 'C:\\Users\\kalra\\Documents\\NJIT\\Junior\\Fall 2020\\CS 301\\Group Project\\'
path = "Kaggle Data Sets/"      
deg_df = pd.read_csv(path + 'degrees-that-pay-back.csv', index_col = 0)
salc_df = pd.read_csv(path + 'salaries-by-college-type.csv', index_col = 0)
salr_df = pd.read_csv(path + 'salaries-by-region.csv', index_col = 0)

In [168]:
#This data set contains all the data we need to answer about how your major effects your starting salary and mid career salary
major_salary = deg_df[["Starting Median Salary", "Mid-Career Median Salary"]]
major_salary.head()

                      Starting Median Salary Mid-Career Median Salary
Undergraduate Major
Accounting                        $46,000.00               $77,100.00
Aerospace Engineering             $57,700.00              $101,000.00
Agriculture                       $42,600.00               $71,900.00
Anthropology                      $36,800.00               $61,500.00
Architecture                      $41,600.00               $76,800.00

In [169]:
# salc_df.sort_values(by=['School Name'], ascending = True).head()

In [170]:
# salr_df.sort_values(by="School Name", ascending = True).head()

In [171]:
#This cell merges the salary by college and region data set into one data set with no duplicate columns
merged_data = pd.merge(salr_df, salc_df, on="School Name", how = "right", suffixes = ('', '_y'))
merged_data.drop(data1.filter(regex='_y$').columns.tolist(),axis=1, inplace=True)
merged_data.sort_values(by="School Name", ascending = True).head()

,Region,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary,School Type,Starting Median Salary_y,Mid-Career Median Salary_y,Mid-Career 10th Percentile Salary_y,Mid-Career 25th Percentile Salary_y,Mid-Career 75th Percentile Salary_y,Mid-Career 90th Percentile Salary_y
School Name,,,,,,,,,,,,,,
Amherst College,Northeastern,"$54,500.00","$107,000.00",NaN,"$84,900.00","$162,000.00",NaN,Liberal Arts,"$54,500.00","$107,000.00",NaN,"$84,900.00","$162,000.00",NaN
Appalachian State University,Southern,"$40,400.00","$69,100.00","$37,200.00","$50,400.00","$90,800.00","$115,000.00",State,"$40,400.00","$69,100.00","$37,200.00","$50,400.00","$90,800.00","$115,000.00"
Arizona State University (ASU),Western,"$47,400.00","$84,100.00","$44,600.00","$60,700.00","$114,000.00","$163,000.00",State,"$47,400.00","$84,100.00","$44,600.00","$60,700.00","$114,000.00","$163,000.00"
Arizona State University (ASU),Western,"$47,400.00","$84,100.00","$44,600.00","$60,700.00","$114,000.00","$163,000.00",Party,"$47,400.00","$84,100.00","$44,600.00","$60,700.00","$114,000.00","$163,000.00"
Arkansas State University (ASU),Southern,"$38,700.00","$63,300.00","$33,600.00","$45,300.00","$83,900.00","$118,000.00",State,"$38,700.00","$63,300.00","$33,600.00","$45,300.00","$83,900.00","$118,000.00"

In [172]:
#Take only the columns that we need from the merged data set and sort it
college_region = data1[["School Type", "Region", "Starting Median Salary", "Mid-Career Median Salary"]].sort_values(by="School Name", ascending = True)
college_region.head()

,School Type,Region,Starting Median Salary,Mid-Career Median Salary
School Name,,,,
Amherst College,Liberal Arts,Northeastern,"$54,500.00","$107,000.00"
Appalachian State University,State,Southern,"$40,400.00","$69,100.00"
Arizona State University (ASU),State,Western,"$47,400.00","$84,100.00"
Arizona State University (ASU),Party,Western,"$47,400.00","$84,100.00"
Arkansas State University (ASU),State,Southern,"$38,700.00","$63,300.00"

In [180]:
#This cell exports the data frames that we have into csv files for us to view
college_region.to_csv("college_region.csv")
major_salary.to_csv("major_salary.csv")

In [174]:
#What we need to do now is take the data frames we have and plot out box plots to try and figure out outliers and we should be basically dont with deliverable 2 coding portion
#We should look at the exported csv files of the data frames to see if there are any NAN columns and figure out how we handle that