In [1]:
import pandas as pd
import numpy as np

df1 = pd.read_csv("Datasets/tuition_cost.csv", index_col=0)
college_tuition = pd.DataFrame(df1)
print(df1.head(5))

                                           state state_code        type  \
name
Aaniiih Nakoda College                   Montana         MT      Public
Abilene Christian University               Texas         TX     Private
Abraham Baldwin Agricultural College     Georgia         GA      Public
Academy College                        Minnesota         MN  For Profit
Academy of Art University             California         CA  For Profit

                                     degree_length  room_and_board  \
name
Aaniiih Nakoda College                      2 Year             NaN
Abilene Christian University                4 Year         10350.0
Abraham Baldwin Agricultural College        2 Year          8474.0
Academy College                             2 Year             NaN
Academy of Art University                   4 Year         16648.0

                                      in_state_tuition  in_state_total  \
name
Aaniiih Nakoda College                            2380            2380
Abilene Christian University                     34850           45200
Abraham Baldwin Agricultural College              4128           12602
Academy College                                  17661           17661
Academy of Art University                        27810           44458

                                      out_of_state_tuition  out_of_state_total
name
Aaniiih Nakoda College                                2380                2380
Abilene Christian University                         34850               45200
Abraham Baldwin Agricultural College                 12550               21024
Academy College                                      17661               17661
Academy of Art University                            27810               44458

In [2]:
#Deleting unnecessary  columns
college_tuition=college_tuition.drop("state_code", axis=1)
college_tuition=college_tuition.drop("room_and_board", axis=1)
college_tuition=college_tuition.drop("in_state_total", axis=1)
college_tuition=college_tuition.drop("out_of_state_total", axis=1)
print(college_tuition.head(5))

                                           state        type degree_length  \
name
Aaniiih Nakoda College                   Montana      Public        2 Year
Abilene Christian University               Texas     Private        4 Year
Abraham Baldwin Agricultural College     Georgia      Public        2 Year
Academy College                        Minnesota  For Profit        2 Year
Academy of Art University             California  For Profit        4 Year

                                      in_state_tuition  out_of_state_tuition
name
Aaniiih Nakoda College                            2380                  2380
Abilene Christian University                     34850                 34850
Abraham Baldwin Agricultural College              4128                 12550
Academy College                                  17661                 17661
Academy of Art University                        27810                 27810

In [3]:
#Checking if there are duplicate values are in the dataset or not

duplicates = college_tuition.duplicated()
DupEntCheck=college_tuition.loc[duplicates==True]
print("->There are %i duplicate values in the dataset" %DupEntCheck.shape[0])

->There are 164 duplicate values in the dataset

In [4]:
print('As we can see above there are many duplicate values because some of the colleges have the same in state and out of state tuition fee')

As we can see above there are many duplicate values because some of the colleges have the same in state and out of state tuition fee

In [5]:
#Removing the rows with empty State name values
college_tuition.dropna(subset = ["state"], inplace=True)

EmptyVals=college_tuition.isnull().sum()

print("->There are %i empty values in the dataset" %EmptyVals.sum())

->There are 0 empty values in the dataset

In [6]:
#Changing the colleges types which have For profit, changing into Private 
college_tuition.loc[college_tuition['type'] == 'For Profit', 'type'] = 'Private'

college_tuition.loc[college_tuition['type'] == 'For Profit', 'type']
print(college_tuition.head())

                                           state     type degree_length  \
name
Aaniiih Nakoda College                   Montana   Public        2 Year
Abilene Christian University               Texas  Private        4 Year
Abraham Baldwin Agricultural College     Georgia   Public        2 Year
Academy College                        Minnesota  Private        2 Year
Academy of Art University             California  Private        4 Year

                                      in_state_tuition  out_of_state_tuition
name
Aaniiih Nakoda College                            2380                  2380
Abilene Christian University                     34850                 34850
Abraham Baldwin Agricultural College              4128                 12550
Academy College                                  17661                 17661
Academy of Art University                        27810                 27810

In [7]:
#Stats for whole Dataset
NewStats=college_tuition.describe()
print(NewStats)

       in_state_tuition  out_of_state_tuition
count       2921.000000           2921.000000
mean       16607.326600          20711.517973
std        14780.559032          13195.641363
min          480.000000            480.000000
25%         4912.000000           9795.000000
50%        10355.000000          17700.000000
75%        27350.000000          29300.000000
max        59985.000000          59985.000000

In [8]:
#Stats for the individual columns

#in_state_tuition stats
inState_Median=college_tuition["in_state_tuition"].median()
inState_Mean=college_tuition["in_state_tuition"].mean()
inStateQ1=4912.00
inStateQ2=10355.00
inStateQ3=27350.00
inStateIQR=inStateQ3-inStateQ1
inStateOutliers=college_tuition.loc[(college_tuition['in_state_tuition'] < inStateQ1-(1.5*inStateIQR)) | (college_tuition['in_state_tuition'] > inStateQ3+(1.5*inStateIQR))]
inStateOutliersCount=inStateOutliers['in_state_tuition'].count()
print("There were %i outliers detected for in_state_tuition Column." %inStateOutliersCount)


#out_of_state_tuition stats
outState_Median=college_tuition["out_of_state_tuition"].median()
outState_Mean=college_tuition["out_of_state_tuition"].mean()
outStateQ1=9795.00
outStateQ2=17700.00
outStateQ3=29300.00
outStateIQR=outStateQ3-outStateQ1
outStateOutliers=college_tuition.loc[(college_tuition['out_of_state_tuition'] < outStateQ1-(1.5*outStateIQR)) | (college_tuition['out_of_state_tuition'] > outStateQ3+(1.5*outStateIQR))]
outStateOutliersCount=outStateOutliers['out_of_state_tuition'].count()
print("There were %i outliers detected for out_of_state_tuition Column." %outStateOutliersCount)

print()
StatsForCollegeData = {'Columns': ['in_state_tuition', 'out_of_state_tuition'], 'Column Median': [inState_Median, outState_Median ], 'Column Mean': [inState_Mean, outState_Mean], 'Column Range': [59505, 59505]}
Stats=pd.DataFrame(StatsForCollegeData)
print(Stats)

There were 0 outliers detected for in_state_tuition Column.
There were 1 outliers detected for out_of_state_tuition Column.

                Columns  Column Median   Column Mean  Column Range
0      in_state_tuition        10355.0  16607.326600         59505
1  out_of_state_tuition        17700.0  20711.517973         59505

In [9]:
college_tuition.to_csv('college_tuition2.csv', header = False, index = False)